@font-face {
  font-family: TSBlock;
  src: url(Fonts/TS_Block_Bold.ttf);
}

@font-face {
  font-family: CodeBold;
  src: url(Fonts/Code_Bold.otf);
}

@font-face {
  font-family: CodeLight;
  src: url(Fonts/Code_Light.otf);
}

@font-face {
  font-family: Roboto;
  src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoThin;
  src: url(Fonts/Roboto-Thin.ttf);
}



ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 103%;
}

ul.navbar li{
  float: center;
}


ul.navbar li a {
  float: left;
  color: white;
  text-align: center;
  width: 23%;
  font-size: 24px;
  font-family: RobotoThin;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid white;
}

ul.navbar li a.active-page {
      border-bottom: 5px solid white;
}


@media screen and (max-width: 1200px) {
  ul.navbar li a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

body{
  margin:0;
  background-color: #000;
}

h1 {
  display: block;
  font-size: 100px;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0;
  font-family: TSBlock;
  color: white;
  letter-spacing: 5px
  text-align: center;
}

h2 {
  display: block;
  font-size: 75px;
  margin-top: -20px;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-family: TSBLOCK;
  text-align: center;
  color: white;
}

h3 {
  display: block;
  font-size: 20px;
  margin-top: -50px;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:white;
  font-family: RobotoThin;
  text-align: center;
}
h4 {
  display: block;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:white;
  font-family: RobotoThin;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Column {
  flex: 33.33%;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

/* Project / Experience Page */

.projectimages {
    float:right;
    margin-right: 50px;

}

.experiencetitletext {
  display: block;
  font-size: 50px;
  margin-top: -20px;
  margin-bottom: 0.83em;
  margin-left: 30px;
  margin-right: 0;
  font-family: TSBLOCK;
  text-align: center;
  color: white;
  display: inline;
  }

.experiencebodytext {
    display: block;
    font-size: 20px;
    margin-top: 0px
    margin-bottom: 1em;
    margin-left: 30px;
    margin-right: 0;
    font-weight: bold;
    color:white;
    font-family: RobotoThin;
    text-align: center;
    display: inline;
}


* {box-sizing: right}
/* Slideshow container */
.slideshow-container {
    float:right;
    margin-right: 50px;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}
.mySlides2 {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: 0px;
  margin-right:50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contact Us Page */
.contactformtext {
  display: block;
  font-size: 55px;
  margin-top: -20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: TSBLOCK;
  text-align: center;
  color: white;
  }
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 51%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ffffff;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #4d4e4f;
}

/* Add a background color and some padding around the form */
.container {
    padding: 20px;
}

.callnumber {
  display: block;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-family: RobotoThin;
}
